---
const { isHome = false } = Astro.props;
---

<header class="globalHeader">
    <div class="globalHeaderInner">
        {isHome ? (
            <h1 class="title"><a href="/"> thlog.net </a></h1>
        ) : (
            <p class="logo"><a href="/"> thlog.net </a></p>
        )}
    </div>
</header>

<style>
    .globalHeader {
        inline-size: calc(100% - var(--spacing-gutter) * 2);
        padding-block: var(--spacing-2);
    }
    .globalHeaderInner {
        max-inline-size: var(--container-size-lg);
        margin-inline: auto;
    }
    .logo, .title {
        font-size: var(--font-size-large);
        font-weight: 600;

        a {
            border-bottom: var(--is-hover-true, 2px solid var(--bunker))
                var(--is-hover-false, none);
        }
    }

</style>
